<!-- templates/test.html -->
<div class="jumbotron">
  <div style="padding:30px;border: 1px solid red">
    <div ng-controller="TestController">
      <p>Wesh {{who}}, {{what}}!</p>

      <div style="padding:30px;border: 1px solid blue" ng-controller="ChildController">
        <p>Wesh {{who}}, {{what}}!</p>

        <div style="padding:30px;border: 1px solid green" ng-controller="GrandChildController">
          <p>Wesh {{who}}, {{what}}!</p>
        </div>
      </div>
    </div>
  </div>
</div>